@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    font-family: "Zain", serif;
    background-color: aliceblue;
    color: black;
    padding:0;
    
}
header > *, header > * > *, header > * > * > * {
    background-color: cornflowerblue;
    color: oldlace;
}

a {
    color: blueviolet;
}