$primary: #00CC66;
$secondary: #DA627D;
$success: #00CC66;
$danger: #DA627D;
$warning: #F1C40F;
$info: #2274a5;
$light: #FAFAFF;
$dark: #0A0908;

@import "../node_modules/bootstrap/scss/bootstrap";



