main {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}
.content-container {
    display: grid;
    min-width: 1vw;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: .5em;
}
.post {
    border: solid 2px #0a0908;
    border-radius: .5em;
    background-color: #00CC66;
    max-width: 400px;
}
.post tr td {
    background-color:#00CC66;
}
.post caption {
    border: solid 2px #0a0908;
    border-radius: .5em;
    background-color: #F1C40F;
}
.post img {
    border-radius: .5em;
    border: solid 2px #0a0908;
}
.post p {
    background-color: #00CC66;
    color: #DA627D;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-container {
        display: block;
    }
  }