.community-main {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}
.community-content-container {
    display: grid;
    min-width: 1vw;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: .5em;
}
.post-body {
    border: solid 2px #0a0908;
    border-radius: .5em;
    background-color: #00CC66;
    max-width: 400px;
    display: flex;
    align-items: center;
}
.post-name {
    border: solid 2px #0a0908;
    border-radius: .5em;
    background-color: #F1C40F;
    font-size: 1.25em;
    text-align: center;
}
.post-body img {
    border-radius: .5em;
    border: solid 2px #0a0908;
    width: 200px;
    margin: .5em;
}
.post-body p {
    background-color: #00CC66;
    color: #DA627D;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-container {
        display: block;
    }
  }