.home-content-container {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
    align-items: center;
}

.star-counter {
    background-color: #DA627D;
    margin: .5em; 
    padding: .5em; 
    border:solid 2px #0a0908; 
    border-radius:1em;
    font-size: 1.5em;
    max-width: 225px;
    align-self: flex-end;
    position: sticky;
    top: 50px;
    opacity: .9;
}
.star-counter:hover {
    opacity: .5;
}
.star-counter * {
    background-color: #DA627D;
    color: #F1C40F;
}
.goal-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.item-wrapper {
    border:solid 2px #0a0908; 
    background-color: #00CC66;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    border-radius: .25em;
    margin: .5em
}
.goal-title {
    background-color: #F1C40F;
    border-bottom:solid 1px #0a0908a3;
    width: 145px;
    text-align: center;
    border-radius: .15em;
}
.goal-caption {
    background-color: #00CC66;
    border-bottom:solid 1px #0a0908a3;
    width: 145px;
    text-align: center;
}
.goal-counter img, text {
    background-color: #00CC66;
    align-self: center;
}
.goal-counter {
    background-color: #00CC66;
    width: 145px;
    display: flex;
    justify-content: center;
}
.submit-button {
    border-color: #0ea55a;
    background-color: #DA627D;
    font-size: 1em;
}
.embedded-table tr td {
    border: none;
}
.embedded-table img {
    border-radius: .25em;
}