.login-main {
    display: grid;
    align-content: center;
    justify-content: center;
}
.content-container { 
    background-color: #F1C40F;
    border: solid .5em #0ea55a;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 3px 3px 2px #0a0908;
}
.content-container * {
    background-color: transparent;
}
.loginButton {
    border-color: #0ea55a;
    background-color: #DA627D;
    font-size: 1.5em;
    margin-top: .5em;
}