@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    font-family: "Zain", sans-serif;
    background-color: #FAFAFF;
    color: #0a0908;
    margin:0
}
h3 {
    font-size: 2.5em;
}
p {
    font-size: 1.5em;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    min-height: 50px;
}
footer {
    min-height: 40px;
    border-top: solid 2px#0a0908;
}
main {
    flex: 1;
}
.aligned-header {
    display: flex;
    padding: 1em;
    border-bottom: solid 2px #0a0908;
}
.aligned-header * {
    flex: 1 0 230px;
    align-self: center;
}
.aligned-header nav a {
    padding: .25em;
    border: 2px solid #0ea55a;
    border-radius: 5px;
    text-decoration: none;
    font-size: 125%;
    margin: .25em;
}
.aligned-header nav a:hover{
    background-color: #0ea55a;
    color:#FAFAFF;
}

header *, footer * {
    background-color: #00CC66;
}
footer p {
    padding: 1em;
}
h1 {
    color: #F1C40F;
    font-size: 4em;
}
a {
    color: #DA627D;
}
ul {
    font-size: 1.5em;
}
.logo {
    flex: 1 0 50px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1 {
        display: none;
    }
    
  }
